eRIS/Service References/eRISServiceReference/eRISService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/eRIS.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eRIS.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://eris.premierradiology.com/eRISService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOffCurrentWorkflowResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fCurrentWorkflowResult" nillable="true" type="tns:fCurrentWorkflowResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffCurrentWorkflowResult" nillable="true" type="tns:ArrayOffCurrentWorkflowResult" />
  <xs:complexType name="fCurrentWorkflowResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="chart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totals" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fCurrentWorkflowResult" nillable="true" type="tns:fCurrentWorkflowResult" />
  <xs:complexType name="ArrayOffCurrentWorkflowDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fCurrentWorkflowDetailsResult" nillable="true" type="tns:fCurrentWorkflowDetailsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffCurrentWorkflowDetailsResult" nillable="true" type="tns:ArrayOffCurrentWorkflowDetailsResult" />
  <xs:complexType name="fCurrentWorkflowDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Arrived" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Completed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Scheduled" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fCurrentWorkflowDetailsResult" nillable="true" type="tns:fCurrentWorkflowDetailsResult" />
  <xs:complexType name="ArrayOfsGetPermissionsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetPermissionsResult" nillable="true" type="tns:sGetPermissionsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetPermissionsResult" nillable="true" type="tns:ArrayOfsGetPermissionsResult" />
  <xs:complexType name="sGetPermissionsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="RadGroup" type="xs:int" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="isClerk" type="xs:boolean" />
      <xs:element minOccurs="0" name="isCoder" type="xs:boolean" />
      <xs:element minOccurs="0" name="isCoderAssignable" type="xs:boolean" />
      <xs:element minOccurs="0" name="isCoderLimited" type="xs:boolean" />
      <xs:element minOccurs="0" name="isManager" type="xs:boolean" />
      <xs:element minOccurs="0" name="isPatient" type="xs:boolean" />
      <xs:element minOccurs="0" name="isPhysician" type="xs:boolean" />
      <xs:element minOccurs="0" name="isRISAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="isRadiologist" type="xs:boolean" />
      <xs:element minOccurs="0" name="isRadiologistADI" type="xs:boolean" />
      <xs:element minOccurs="0" name="isTech" type="xs:boolean" />
      <xs:element minOccurs="0" name="isTelerad" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetPermissionsResult" nillable="true" type="tns:sGetPermissionsResult" />
  <xs:complexType name="ArrayOfsGetPersonnelResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetPersonnelResult" nillable="true" type="tns:sGetPersonnelResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetPersonnelResult" nillable="true" type="tns:ArrayOfsGetPersonnelResult" />
  <xs:complexType name="sGetPersonnelResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetPersonnelResult" nillable="true" type="tns:sGetPersonnelResult" />
  <xs:complexType name="ArrayOfsGetUsersResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetUsersResult" nillable="true" type="tns:sGetUsersResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetUsersResult" nillable="true" type="tns:ArrayOfsGetUsersResult" />
  <xs:complexType name="sGetUsersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RadGroup" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isCoderAssignable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isRadiologistADI" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetUsersResult" nillable="true" type="tns:sGetUsersResult" />
  <xs:complexType name="ArrayOfsLoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sLoginResult" nillable="true" type="tns:sLoginResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsLoginResult" nillable="true" type="tns:ArrayOfsLoginResult" />
  <xs:complexType name="sLoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RadGroup" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAdmin" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isClerk" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isCoder" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isCoderLimited" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isManager" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isPatient" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isPhysician" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isRISAdmin" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isRadiologist" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isRadiologistADI" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isTech" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isTelerad" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sLoginResult" nillable="true" type="tns:sLoginResult" />
  <xs:complexType name="ArrayOfsStudiesReadPerDayResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sStudiesReadPerDayResult" nillable="true" type="tns:sStudiesReadPerDayResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsStudiesReadPerDayResult" nillable="true" type="tns:ArrayOfsStudiesReadPerDayResult" />
  <xs:complexType name="sStudiesReadPerDayResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exams" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RVUs" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Rad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sStudiesReadPerDayResult" nillable="true" type="tns:sStudiesReadPerDayResult" />
  <xs:complexType name="ArrayOfsStudiesReadPerHourResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sStudiesReadPerHourResult" nillable="true" type="tns:sStudiesReadPerHourResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsStudiesReadPerHourResult" nillable="true" type="tns:ArrayOfsStudiesReadPerHourResult" />
  <xs:complexType name="sStudiesReadPerHourResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalExams" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRVUs" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sStudiesReadPerHourResult" nillable="true" type="tns:sStudiesReadPerHourResult" />
  <xs:complexType name="ArrayOfsGetRadGroupResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetRadGroupResult" nillable="true" type="tns:sGetRadGroupResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetRadGroupResult" nillable="true" type="tns:ArrayOfsGetRadGroupResult" />
  <xs:complexType name="sGetRadGroupResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetRadGroupResult" nillable="true" type="tns:sGetRadGroupResult" />
  <xs:complexType name="ArrayOfsUsersLogPerDayResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sUsersLogPerDayResult" nillable="true" type="tns:sUsersLogPerDayResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsUsersLogPerDayResult" nillable="true" type="tns:ArrayOfsUsersLogPerDayResult" />
  <xs:complexType name="sUsersLogPerDayResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UsersLogType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sUsersLogPerDayResult" nillable="true" type="tns:sUsersLogPerDayResult" />
  <xs:complexType name="ArrayOfsUsersLogBySourceResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sUsersLogBySourceResult" nillable="true" type="tns:sUsersLogBySourceResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsUsersLogBySourceResult" nillable="true" type="tns:ArrayOfsUsersLogBySourceResult" />
  <xs:complexType name="sUsersLogBySourceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsersLogType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sUsersLogBySourceResult" nillable="true" type="tns:sUsersLogBySourceResult" />
  <xs:complexType name="ArrayOfsUsersLogByUserResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sUsersLogByUserResult" nillable="true" type="tns:sUsersLogByUserResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsUsersLogByUserResult" nillable="true" type="tns:ArrayOfsUsersLogByUserResult" />
  <xs:complexType name="sUsersLogByUserResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UsersLogType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sUsersLogByUserResult" nillable="true" type="tns:sUsersLogByUserResult" />
  <xs:complexType name="ArrayOfsMessagesLogPerDayResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sMessagesLogPerDayResult" nillable="true" type="tns:sMessagesLogPerDayResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsMessagesLogPerDayResult" nillable="true" type="tns:ArrayOfsMessagesLogPerDayResult" />
  <xs:complexType name="sMessagesLogPerDayResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessagesLogSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessagesLogType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sMessagesLogPerDayResult" nillable="true" type="tns:sMessagesLogPerDayResult" />
  <xs:complexType name="ArrayOffTurnaroundTimeResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fTurnaroundTimeResult" nillable="true" type="tns:fTurnaroundTimeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffTurnaroundTimeResult" nillable="true" type="tns:ArrayOffTurnaroundTimeResult" />
  <xs:complexType name="fTurnaroundTimeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Arrived" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Completed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HourToDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HourofDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Minutes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Scheduled" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat" nillable="true" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fTurnaroundTimeResult" nillable="true" type="tns:fTurnaroundTimeResult" />
  <xs:complexType name="ArrayOffInterpretationTimeResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fInterpretationTimeResult" nillable="true" type="tns:fInterpretationTimeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffInterpretationTimeResult" nillable="true" type="tns:ArrayOffInterpretationTimeResult" />
  <xs:complexType name="fInterpretationTimeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="HourToDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HourofDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Minutes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat" nillable="true" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fInterpretationTimeResult" nillable="true" type="tns:fInterpretationTimeResult" />
  <xs:complexType name="ArrayOffPatientLongWaitResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fPatientLongWaitResult" nillable="true" type="tns:fPatientLongWaitResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffPatientLongWaitResult" nillable="true" type="tns:ArrayOffPatientLongWaitResult" />
  <xs:complexType name="fPatientLongWaitResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exams" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HourOfDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HourToDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentWaiting" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Stat" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="Waiting" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fPatientLongWaitResult" nillable="true" type="tns:fPatientLongWaitResult" />
  <xs:complexType name="ArrayOffPatientShortWaitResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fPatientShortWaitResult" nillable="true" type="tns:fPatientShortWaitResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffPatientShortWaitResult" nillable="true" type="tns:ArrayOffPatientShortWaitResult" />
  <xs:complexType name="fPatientShortWaitResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exams" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HourOfDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HourToDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentWaiting" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Stat" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="Waiting" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fPatientShortWaitResult" nillable="true" type="tns:fPatientShortWaitResult" />
  <xs:complexType name="ArrayOffPatientWaitResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fPatientWaitResult" nillable="true" type="tns:fPatientWaitResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffPatientWaitResult" nillable="true" type="tns:ArrayOffPatientWaitResult" />
  <xs:complexType name="fPatientWaitResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="HourToDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HourofDay" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="Waiting" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fPatientWaitResult" nillable="true" type="tns:fPatientWaitResult" />
  <xs:complexType name="ArrayOffCompletedPerTechResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fCompletedPerTechResult" nillable="true" type="tns:fCompletedPerTechResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffCompletedPerTechResult" nillable="true" type="tns:ArrayOffCompletedPerTechResult" />
  <xs:complexType name="fCompletedPerTechResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clerk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamTime" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Studies" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fCompletedPerTechResult" nillable="true" type="tns:fCompletedPerTechResult" />
  <xs:complexType name="ArrayOffRegisteredPatientsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fRegisteredPatientsResult" nillable="true" type="tns:fRegisteredPatientsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffRegisteredPatientsResult" nillable="true" type="tns:ArrayOffRegisteredPatientsResult" />
  <xs:complexType name="fRegisteredPatientsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clerk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registered" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fRegisteredPatientsResult" nillable="true" type="tns:fRegisteredPatientsResult" />
  <xs:complexType name="ArrayOffRegistrationTimeResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fRegistrationTimeResult" nillable="true" type="tns:fRegistrationTimeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffRegistrationTimeResult" nillable="true" type="tns:ArrayOffRegistrationTimeResult" />
  <xs:complexType name="fRegistrationTimeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clerk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationTime" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Studies" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fRegistrationTimeResult" nillable="true" type="tns:fRegistrationTimeResult" />
  <xs:complexType name="ArrayOffFirstLastAppointmentResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fFirstLastAppointmentResult" nillable="true" type="tns:fFirstLastAppointmentResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffFirstLastAppointmentResult" nillable="true" type="tns:ArrayOffFirstLastAppointmentResult" />
  <xs:complexType name="fFirstLastAppointmentResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstAppt" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="LastAppt" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fFirstLastAppointmentResult" nillable="true" type="tns:fFirstLastAppointmentResult" />
  <xs:complexType name="ArrayOffScheduledPatientsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fScheduledPatientsResult" nillable="true" type="tns:fScheduledPatientsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffScheduledPatientsResult" nillable="true" type="tns:ArrayOffScheduledPatientsResult" />
  <xs:complexType name="fScheduledPatientsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cancelled" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Completed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Scheduled" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Signed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fScheduledPatientsResult" nillable="true" type="tns:fScheduledPatientsResult" />
  <xs:complexType name="ArrayOfsGetOrdersPendingResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetOrdersPendingResult" nillable="true" type="tns:sGetOrdersPendingResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetOrdersPendingResult" nillable="true" type="tns:ArrayOfsGetOrdersPendingResult" />
  <xs:complexType name="sGetOrdersPendingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExFacility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ReasonFailed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="hl7Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetOrdersPendingResult" nillable="true" type="tns:sGetOrdersPendingResult" />
  <xs:complexType name="ArrayOfsListOrdersPendingResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sListOrdersPendingResult" nillable="true" type="tns:sListOrdersPendingResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsListOrdersPendingResult" nillable="true" type="tns:ArrayOfsListOrdersPendingResult" />
  <xs:complexType name="sListOrdersPendingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExFacility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ReasonFailed" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sListOrdersPendingResult" nillable="true" type="tns:sListOrdersPendingResult" />
  <xs:complexType name="ArrayOfsGetInterfaceXrefResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetInterfaceXrefResult" nillable="true" type="tns:sGetInterfaceXrefResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetInterfaceXrefResult" nillable="true" type="tns:ArrayOfsGetInterfaceXrefResult" />
  <xs:complexType name="sGetInterfaceXrefResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExFacility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetInterfaceXrefResult" nillable="true" type="tns:sGetInterfaceXrefResult" />
  <xs:complexType name="ArrayOfsListInterfaceXrefResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sListInterfaceXrefResult" nillable="true" type="tns:sListInterfaceXrefResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsListInterfaceXrefResult" nillable="true" type="tns:ArrayOfsListInterfaceXrefResult" />
  <xs:complexType name="sListInterfaceXrefResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExFacility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sListInterfaceXrefResult" nillable="true" type="tns:sListInterfaceXrefResult" />
  <xs:complexType name="ArrayOfsListInterfaceResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sListInterfaceResult" nillable="true" type="tns:sListInterfaceResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsListInterfaceResult" nillable="true" type="tns:ArrayOfsListInterfaceResult" />
  <xs:complexType name="sListInterfaceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Facility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InterfaceType" nillable="true" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sListInterfaceResult" nillable="true" type="tns:sListInterfaceResult" />
  <xs:complexType name="ArrayOfsListPatientsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sListPatientsResult" nillable="true" type="tns:sListPatientsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsListPatientsResult" nillable="true" type="tns:ArrayOfsListPatientsResult" />
  <xs:complexType name="sListPatientsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Patient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sListPatientsResult" nillable="true" type="tns:sListPatientsResult" />
  <xs:complexType name="ArrayOfsListProceduresResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sListProceduresResult" nillable="true" type="tns:sListProceduresResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsListProceduresResult" nillable="true" type="tns:ArrayOfsListProceduresResult" />
  <xs:complexType name="sListProceduresResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sListProceduresResult" nillable="true" type="tns:sListProceduresResult" />
  <xs:complexType name="ArrayOfsListProvidersResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sListProvidersResult" nillable="true" type="tns:sListProvidersResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsListProvidersResult" nillable="true" type="tns:ArrayOfsListProvidersResult" />
  <xs:complexType name="sListProvidersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrierID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provider" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sListProvidersResult" nillable="true" type="tns:sListProvidersResult" />
  <xs:complexType name="ArrayOfsListReferrersResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sListReferrersResult" nillable="true" type="tns:sListReferrersResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsListReferrersResult" nillable="true" type="tns:ArrayOfsListReferrersResult" />
  <xs:complexType name="sListReferrersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referrer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sListReferrersResult" nillable="true" type="tns:sListReferrersResult" />
  <xs:complexType name="ArrayOfsMessagesSummaryResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sMessagesSummaryResult" nillable="true" type="tns:sMessagesSummaryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsMessagesSummaryResult" nillable="true" type="tns:ArrayOfsMessagesSummaryResult" />
  <xs:complexType name="sMessagesSummaryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Processed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Updated" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sMessagesSummaryResult" nillable="true" type="tns:sMessagesSummaryResult" />
  <xs:complexType name="ArrayOfsPhyCoderTotalsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sPhyCoderTotalsResult" nillable="true" type="tns:sPhyCoderTotalsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsPhyCoderTotalsResult" nillable="true" type="tns:ArrayOfsPhyCoderTotalsResult" />
  <xs:complexType name="sPhyCoderTotalsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllCodedToday" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AvailableToCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ICodedToday" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IPending" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MissingDemographics" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MissingOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MissingReport" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Pending" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sPhyCoderTotalsResult" nillable="true" type="tns:sPhyCoderTotalsResult" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Charge1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckForAfterHours" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckForPQRI" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckForSameDayReports" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CodedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DictatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dosage1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientMRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price10" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price11" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price12" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price13" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price14" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price15" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price5" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price6" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price7" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price8" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price9" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RadID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RadName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RadReview" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Report1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="TotalCharges" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRVU" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Unit1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit10" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit11" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit12" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit13" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit14" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit15" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit4" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit5" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit6" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit7" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit8" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit9" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VisitNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkstationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasDemographics" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="hasOrder" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="verifiedDemographics" nillable="true" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExamNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HL7Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginalExamNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientMRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProcedureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcedureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="Status1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasReport" nillable="true" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfsGetDemographicsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetDemographicsResult" nillable="true" type="tns:sGetDemographicsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetDemographicsResult" nillable="true" type="tns:ArrayOfsGetDemographicsResult" />
  <xs:complexType name="sGetDemographicsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmitDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GovernmentalCarrier" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Insurance1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Insurance2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Insurance3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientMRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreAuthorization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="VIP" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="VisitNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetDemographicsResult" nillable="true" type="tns:sGetDemographicsResult" />
  <xs:complexType name="ArrayOfsGetOrdersResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetOrdersResult" nillable="true" type="tns:sGetOrdersResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetOrdersResult" nillable="true" type="tns:ArrayOfsGetOrdersResult" />
  <xs:complexType name="sGetOrdersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExamNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="OrderedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginalExamNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcedureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="Status1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetOrdersResult" nillable="true" type="tns:sGetOrdersResult" />
  <xs:complexType name="ArrayOfsGetReportResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetReportResult" nillable="true" type="tns:sGetReportResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetReportResult" nillable="true" type="tns:ArrayOfsGetReportResult" />
  <xs:complexType name="sGetReportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Charge1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckForAfterHours" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckForPQRI" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckForSameDayReports" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CodedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DictatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dosage1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientMRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price10" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price11" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price12" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price13" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price14" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price15" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price5" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price6" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price7" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price8" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price9" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RadID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RadName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RadReview" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Report" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="TotalCharges" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRVU" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Unit1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit10" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit11" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit12" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit13" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit14" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit15" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit4" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit5" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit6" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit7" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit8" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit9" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VisitNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkstationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasDemographics" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="hasOrder" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="verifiedDemographics" nillable="true" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetReportResult" nillable="true" type="tns:sGetReportResult" />
  <xs:complexType name="ArrayOfsGetOrderResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetOrderResult" nillable="true" type="tns:sGetOrderResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetOrderResult" nillable="true" type="tns:ArrayOfsGetOrderResult" />
  <xs:complexType name="sGetOrderResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExamNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HL7Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginalExamNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientMRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProcedureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcedureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="Status1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasReport" nillable="true" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetOrderResult" nillable="true" type="tns:sGetOrderResult" />
  <xs:complexType name="ArrayOfsGetReportsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetReportsResult" nillable="true" type="tns:sGetReportsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetReportsResult" nillable="true" type="tns:ArrayOfsGetReportsResult" />
  <xs:complexType name="sGetReportsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Charge1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckForAfterHours" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckForPQRI" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckForSameDayReports" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CodedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DictatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dosage1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientMRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price10" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price11" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price12" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price13" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price14" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price15" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price5" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price6" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price7" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price8" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price9" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RadID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RadName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RadReview" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Report" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="TotalCharges" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRVU" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Unit1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit10" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit11" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit12" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit13" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit14" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit15" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit4" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit5" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit6" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit7" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit8" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit9" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VisitNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkstationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasDemographics" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="hasOrder" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="verifiedDemographics" nillable="true" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetReportsResult" nillable="true" type="tns:sGetReportsResult" />
  <xs:complexType name="ArrayOfsDuplicateReportsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sDuplicateReportsResult" nillable="true" type="tns:sDuplicateReportsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsDuplicateReportsResult" nillable="true" type="tns:ArrayOfsDuplicateReportsResult" />
  <xs:complexType name="sDuplicateReportsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Received" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Report" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sDuplicateReportsResult" nillable="true" type="tns:sDuplicateReportsResult" />
  <xs:complexType name="ArrayOfsUpdateReportResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sUpdateReportResult" nillable="true" type="tns:sUpdateReportResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsUpdateReportResult" nillable="true" type="tns:ArrayOfsUpdateReportResult" />
  <xs:complexType name="sUpdateReportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AssignedTo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Charge1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charge9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckForAfterHours" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckForPQRI" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckForSameDayReports" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CodedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DictatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dosage1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dosage9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExamNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modifier9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PatientMRN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price10" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price11" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price12" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price13" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price14" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price15" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price5" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price6" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price7" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price8" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price9" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="RadID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RadName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RadReview" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Report" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="TotalCharges" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRVU" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Unit1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit10" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit11" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit12" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit13" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit14" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit15" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit4" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit5" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit6" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit7" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit8" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Unit9" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VisitNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkstationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hasDemographics" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="hasOrder" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="verifiedDemographics" nillable="true" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sUpdateReportResult" nillable="true" type="tns:sUpdateReportResult" />
  <xs:complexType name="ArrayOffSplitHL7GPMSResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="fSplitHL7GPMSResult" nillable="true" type="tns:fSplitHL7GPMSResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffSplitHL7GPMSResult" nillable="true" type="tns:ArrayOffSplitHL7GPMSResult" />
  <xs:complexType name="fSplitHL7GPMSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Segment" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fSplitHL7GPMSResult" nillable="true" type="tns:fSplitHL7GPMSResult" />
  <xs:complexType name="ArrayOfsReportsCodedPerDayResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sReportsCodedPerDayResult" nillable="true" type="tns:sReportsCodedPerDayResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsReportsCodedPerDayResult" nillable="true" type="tns:ArrayOfsReportsCodedPerDayResult" />
  <xs:complexType name="sReportsCodedPerDayResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Charges" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Coder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reports" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sReportsCodedPerDayResult" nillable="true" type="tns:sReportsCodedPerDayResult" />
  <xs:complexType name="ArrayOfsListICD9Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sListICD9Result" nillable="true" type="tns:sListICD9Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsListICD9Result" nillable="true" type="tns:ArrayOfsListICD9Result" />
  <xs:complexType name="sListICD9Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sListICD9Result" nillable="true" type="tns:sListICD9Result" />
  <xs:complexType name="ArrayOfsToCodeResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sToCodeResult" nillable="true" type="tns:sToCodeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsToCodeResult" nillable="true" type="tns:ArrayOfsToCodeResult" />
  <xs:complexType name="sToCodeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reports" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sToCodeResult" nillable="true" type="tns:sToCodeResult" />
  <xs:complexType name="ArrayOfbAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bAppointment" nillable="true" type="tns:bAppointment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfbAppointment" nillable="true" type="tns:ArrayOfbAppointment" />
  <xs:complexType name="bAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SiteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appointmentsid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="apptstart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apptstop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cptcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="doctorfacilityid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="jobnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="medicalrecordnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="middle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone1type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone2type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reportid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bAppointment" nillable="true" type="tns:bAppointment" />
  <xs:complexType name="ArrayOfsCoderTotalsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sCoderTotalsResult" nillable="true" type="tns:sCoderTotalsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsCoderTotalsResult" nillable="true" type="tns:ArrayOfsCoderTotalsResult" />
  <xs:complexType name="sCoderTotalsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Records" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Records2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Who" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhoID" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sCoderTotalsResult" nillable="true" type="tns:sCoderTotalsResult" />
  <xs:complexType name="ArrayOfsGetExamCommentsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sGetExamCommentsResult" nillable="true" type="tns:sGetExamCommentsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsGetExamCommentsResult" nillable="true" type="tns:ArrayOfsGetExamCommentsResult" />
  <xs:complexType name="sGetExamCommentsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sGetExamCommentsResult" nillable="true" type="tns:sGetExamCommentsResult" />
</xs:schema>